@use "./variables";
@mixin title_text_style($bg-color, $text-color) {
    // common
    font-size: variables.$base-font-size * 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;   
    // different
    background-color:$bg-color;
    color: $text-color;
  }
  @mixin hobby_item_style($bg-color){
    // common
    display: flex;
    justify-content: center;
    align-items: center;
    // different
    background-color: $bg-color;
  }